
<div>
    <div class="form-group">
        <label for="inputExpenseReportName">Name</label>
        <input type="text" class="form-control" ng-model="inputExpenseReportName" id="inputExpenseReportName" placeholder="Name">
    </div>

    <div class="form-group" ng-repeat="line in lineItems">
        <label>{{line.name}}</label>
        <input type="text" class="form-control" ng-model="datmoney" placeholder="Value Amount Here">
    </div>

    <div class="form-group" >
        <label for="drpdwnvalue">Add Line Item</label>
        <select class="form-control" id="drpdwnvalue" ng-change="addItem()" ng-model="dropdownvalue" ng-options="type.name for type in LineItemTypes">
            <option></option>
        </select>
    </div>
    <div>
        <button type="submit" ng-click="save()" class="btn btn-default">Save</button>
    </div>
</div>