<div class="projectBody">
    <div class="projectWrapper">
        <div class="projectContainer">
            <h1 class="projectHeader">Create Project</h1>
            <div class="projectForm">
                <input class="projectInput" type="text" ng-model="projectName" ng-click="clearResult()" ng-keyup="textInput()" placeholder="Enter project name">
                <button class="projectButton" ng-show="showButton" ng-click="saveProject()">Save</button>
            </div>
            <div>
                <h5 class="projectResult">{{result}}</h5>
            </div>
        </div>
    </div>
</div>
